html{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
    
}

body {
    background-image: url('image/im_8.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    font-family: Lato, sans-serif;
    font-size: 16px;
}

/* Селекторы классов */
.hat {
    text-align: center;
    background-color: mediumseagreen;
}

table td, table th {
    border: 1px solid black;
}

.results td {
    text-align: center;
}



tr.hit-no {
    background-color: indianred;
}

tr.hit-yes {
    background-color: lightgreen;
}

/* Селектор псевдоэлементов */
.table-header th::after {
    color: red;
  }

/* Селекторы потомков */
#main-table {
    border-collapse: collapse;
    width: 100%;
    
    
}

#main-table td {
    padding: 10px;
}

#main-table th {
    background-color: darksalmon;
    padding: 10px;
}

#result-table{
    height: 400 px;
    overflow-y: scroll;
}

#result_table_container{
    overflow-y: auto;
    max-height: 280px;
    max-width: 2800px;
}

/* Стили для селектора атрибутов */
td[data-value="true"] {
    color: green;
}

td[data-value="false"] {
    color: red;
}

svg {
    display: block;
    margin: 0 auto;
}
